.img-container {
    justify-content: center;
    align-items: center;
    margin: 5%;
    text-align: center;
}

.about-container {
    margin: 7%;
    font-size: 25px;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin: 10%;
}

.about-grid-item {
    font-size: 25px;
}

.about-grid-pic {
    justify-content: center;
    align-items: center;
}

