.order-header {
    color: white;
    font-size: 50px;
    padding: 2%;
}

label {
    color: white;
}

.order-container {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.order-form {
    display: grid;
    grid-template-columns: 350px 350px;
    text-align: right;
    gap: 15px;
    justify-content: center;
    font-size: 30px;
    
}

.text-input {
    padding: 3%;
    border-radius: 4px;
    height: 40px;
    font-size: 25px;
    color: black;
    border: none;
}

.number-input {
    border-radius: 4px;
    padding: 3%;
    width: 60px;
    height: 40px;
    font-size: 25px;
    color: black;
    border: none;
}

.textarea-input {
    padding: 3%;
    border-radius: 4px;
    font-size: 25px;
    color: black;
    border: none;
}

.dropdown {
    height: 40px;
    border-radius: 4px;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    color: black;
    border: none;
}

.btn {
    border: none;
    padding: 10px 150px;
    margin: 3%;
    border-radius: 4px;
    background-color:#00420b;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    font-size: 30px;
}

.btn:hover {
    background-color: #89ca94;
    color: #00420b;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 800px) {
    
    .order-form {
        grid-template-columns: 150px 250px;
        font-size: 20px;
        
    }
    
    .text-input {
        height: 30px;
        font-size: 20px;
    }
    
    .number-input {
        height: 45px;
        font-size: 20px;
    }
    
    .textarea-input {
        font-size: 20px;
    }
    
    .dropdown {
        height: 30px;
        font-size: 20px;
    }
    
    .btn {
        padding: 10px 80px;
        font-size: 20px;
    }
}